.login-title{
  margin-top: 7vh;
}
.login-title h3{
  margin-top: 3vh;
}
.login-box {
  margin-top: 8vh;
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  text-align: center;
}


/* Inputs */
.login-box input {
  width: 70%;
  max-width: 350px;

  margin: 2vh;
  padding: 12px;
  border-radius: 8px;
  border: none;

  background-color: #ffffff;
  color: #333;
}

/* Button */
.login-box button {
  width:70%;
  max-width: 350px;

  margin: 2vh;
  padding: 12px;
  border-radius: 8px;
  border: none;

  background-color: #f1b24a;
  color: #fff;
  cursor: pointer;

  transition: 0.3s;
}

.login-box button:hover {
  background-color: #e49d2c;
}

/* Signup text */
.signup {
  margin: 2vh;
  font-size: 0.9rem;
}

.signuplink {
  color: #f1b24a;
  text-decoration: none;
}

.signuplink:hover {
  text-decoration: underline;
}