/* Container */
.login-box {
  margin-top: 50px;
  width: 100%;
  max-width: 800px;
  
  text-align: center;
  align-items: center;

  display: flex;
  flex-direction: column;
  gap: 10px;                 
}

/* H3 text*/
.login-box h3{
  margin-top: 3vh;
}

/* Inputs */
.login-box input {
  margin-top: 4vh;
  width: 40%;
  padding: 15px;
  border-radius: 8px;
  border: none;

  background-color: #ffffff;   
  color: #333;
}

/* Button */
.login-box button {
  margin-top: 4vh;
  width: 40%;
  padding: 15px;
  border-radius: 8px;
  border: none;

  background-color: #f1b24a;   
  color: #fff;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.login-box button:hover{
  background-color: #e49d2c;

}

/* Signup text */
.signup {
  margin-top: 2vh;
  font-size: 0.9rem;
  opacity: 0.9;
}

.signup a {
  color: #fff;
  text-decoration: underline;

  transition: all 0.3s ease;
}

a:hover{
  color: #e49d2c;
}