.Signup-title{
  margin-top: 7vh;
}
.Signup-title h3{
  margin-top: 3vh;
}
.signup-box {
  margin-top: 8vh;
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  text-align: center;
}

.signup-box input {
  width: 70%;
  max-width: 350px;

  margin: 2vh;
  padding: 12px;
  border-radius: 8px;
  border: none;

  background-color: #ffffff;
  color: #333;
}

.signup-box button {
  width: 70%;
  max-width: 350px;

  margin: 2vh;
  padding: 12px;
  border-radius: 8px;
  border: none;

  background-color: #f1b24a;
  color: #fff;
  cursor: pointer;

  transition: 0.3s;
}

.signup-box button:hover {
  background-color: #e49d2c;
}