* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #164a41, #4d774e, #9dc88d);
}

h1 {
  font-size: clamp(2.2rem, 5vw, 3.5rem);
  font-weight: 800;
}

h3 {
  font-size: clamp(1.2rem, 2vw, 1.2rem);
  font-weight: 700;
  opacity: 0.9;
}